{% extends 'base.html' %}
{% block title %} Register as Students {% endblock %}

{% block body %}
    <div class="student-reg">
        <div class="container">
            <h2>Register as a student</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.label_name }}">{{ field.label }}</label>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}
